html, body{margin: 0; padding: 0%; overflow-x: hidden;}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ________________________  Расписание*/ 
/* Таблица */


.schedule-table td {
  padding: 4px;
border: 1px #989898 solid; 
}

.schedule-table tr:nth-child(1) td:first-child {
  border-top: none; /* Убирает верхнюю границу */
}

.schedule-table tr td:first-child{
border-left: none;
border-top: none;
}


.schedule-table tr:nth-child(1) td {
  border-top: 1px #989898 solid;
}

.schedule-table tr td:last-child{
  border-right: none;
  border-top: none;
  }

  .schedule-table tr:last-child td{
    border-right: none;
    border-top: none;
    border-bottom: none;
    }

.schedule-table {
  margin: 16px;
  border-collapse: collapse;
  border: none;
  
}

td {
  width: 500px;
  padding-top: 6px;
}

.font-serif {
font-family: 'Source Serif 4', serif;}

.datePicker {
  font-family: 'Source Serif 4', serif;
}

.page {
  background-image: url(C:\Users\mzimo\OneDrive\Документы\a_nevsky_react\public\background.jpg);
  max-width: 2480px;
  width: 100%;
  overflow: hidden;
  height: 3580px;
}
