html,
body {
  margin: 0;
  padding: 0%;
  overflow-x: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ________________________  Расписание*/
/* Таблица */

.schedule-table td {
  padding: 4px;
  border: 1px #989898 solid;
  align-content: center;
}

.schedule-table tr td:first-child {
  border-left: none;
  border-top: none;
}

.schedule-table tr:nth-child(1) td:first-child {
  border: none;
}

.schedule-table tr:nth-child(1) td:last-child {
  border: none;
}

.schedule-table tr td:last-child {
  border-right: none;
  border-top: none;
}

.schedule-table tr:last-child td {
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.schedule-table {
  margin: 12px;
  border-collapse: collapse;
  border: none;
  position: absolute;
  left: 48px;
  top: 128px;
  /* font-size: 20px; */
}

td {
  width: 385px;
  vertical-align: top;
}

@font-face {
  font-family: Pompadur; /* Гарнитура шрифта */
  src: url("/public/Izhitsa.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Sorok;
  src: url("/public/itccharterpro.otf");
}

@font-face {
  font-family: Rodnik;
  src: url("/public/Rodnik.otf");
}

.font-serif {
  font-family: "Pompadur", serif;
}

.font-text-area {
  font-family: Font;
}

.datePicker {
  font-family: "Pompadur", serif;
}

.f-img-block {
  background: transparent;
  overflow: hidden;
  width: 911px;
  height: 1288.414px;
  position: relative;
}

.f-img-block img {
  object-fit: contain;
  height: 1288.414px;
  width: 911px;
}

@font-face {
  font-family: Font; /* Гарнитура шрифта */
  src: url("/public/STIXGeneral-Regular.ttf"); /* Путь к файлу со шрифтом */
}

p {
  font-family: Font;
}

.ant-btn-primary {
  background-color: rgb(149, 94, 74);
}

.ant-btn-primary:hover {
  background-color: rgb(57, 55, 69) !important;
}

.ant-upload-list-item.ant-upload-list-item-error {
  margin-left: 22px;
}

.ant-upload-list-item-uploading {
  margin-left: 22px;
}

/* color picker */

#swatch {
  background: white;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

#swatch .info {
  padding: 1em;
}

#swatch h1 {
  margin: 0;
  text-transform: uppercase;
}

#swatch h2 {
  font-weight: normal;
  margin: 0;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 3em; /* Reduced size */
  width: 3em; /* Reduced size */
  border-radius: 50%; /* Makes the input circular */
}

*:focus {
  outline: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 50%; /* Ensures circle inside WebKit browsers */
}

::-moz-color-swatch {
  border: 0;
}

/* bubbleMenu */
.bubbleMenu {
  font-size: 18px;
  background: white;
  border: 1px solid rgba(200, 200, 200, 0.8); /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* Soft shadow */
  padding: 0.5em 1em;
  display: flex;
  gap: 0.5em; /* Space between menu items */
  align-items: center;
  width: auto; /* Автоматическая ширина */
  max-width: 100%; /* Ограничение ширины (необязательно) */
}

.bubbleMenu select {
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

p {
  margin: 0px;
}

.divider {
  border-left: 1px solid rgba(200, 200, 200, 0.8);
  height: 23px;
}

.tiptap.ProseMirror {
  align-content: center;
}

/* Avatar.js */

/* News.js */

.ant-select-selector {
  max-height: 32px;
}

/* Центрирование текста Святые дня в режиме редактирования */
.schedule-table td:last-child {
  text-align: center;
}

.ant-upload-list-text {
  margin: 0 22px !important;
}
.ant-upload-list-item-name {
  width: 185px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* sorok */

.sorokust {
  background-image: url("/public/sorok-bg.png");
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.ant-otp-input {
  font-family: "Rodnik";
  font-weight: bold;
  background-color: transparent;
  color: white;
  font-weight: 14px;
}

.ant-otp-input:hover,
.ant-otp-input:focus {
  background-color: transparent;
  border-color: #d9d9d9;
}
