html, body{margin: 0; padding: 0%; overflow-x: hidden;}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ________________________  Расписание*/ 
/* Таблица */


.schedule-table td {
  padding: 4px;
  border: 1px #989898 solid; 
}

.schedule-table tr td:first-child{
border-left: none;
border-top: none;
}

.schedule-table tr:nth-child(1) td:first-child {
border: none;
}

.schedule-table tr:nth-child(1) td:last-child {
  border: none;
  }

.schedule-table tr td:last-child{
  border-right: none;
  border-top: none;
  }

.schedule-table tr:last-child td{
  border-right: none;
  border-top: none;
  border-bottom: none;
  }

.schedule-table {
  margin: 16px;
  border-collapse: collapse;
  border: none;
  position: absolute;
  left: 60px;
  top: 110px;
  font-size: 20px;
}

td {
  width: 370px;
  vertical-align: top;
}

@font-face {
  font-family: Pompadur; /* Гарнитура шрифта */
  src: url("/public/BalkaraFreeCondensed.ttf"); /* Путь к файлу со шрифтом */
  
}

.font-serif {
font-family: 'Pompadur', serif;}

.font-text-area {
font-family: Font;
}

.datePicker {
  font-family: 'Pompadur', serif;
}

.f-img-block {
  background: transparent;
  overflow: hidden;
  width: 904px;
  height: 1280px;
  position: relative;

}

.f-img-block img {
  object-fit: contain;
  height: 1278px;
  width: 904px;
}

@font-face {
  font-family: Font; /* Гарнитура шрифта */
  src: url("/public/STIXGeneral-Regular.ttf"); /* Путь к файлу со шрифтом */
 }

 p {
  font-family: Font;
 }
